<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Themed Templates Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Disable Themed debug logs during tests -->
        <env name="THEMED_DEBUG" value="0"/>
    </php>
</phpunit>